.cart-items .book-image {
    width: 120px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.item-info {
    display: flex;
    align-items: center;
}

.item-details {
    flex-grow: 1;
    text-align: left;
}

.item-details h3,
.item-details p {
    font-size: 16px;
}

.total-cost {
    display: grid;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold;

    .bold {
        font-weight: bold;
    }
}

.quantity-controls {
    display: flex;
    align-items: center;
}
  
.quantity-controls button {
    margin-right: 1px; 
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}
  
.quantity-controls button:focus-visible {
    outline: solid #000; 
}
  
.quantity-controls button:active {
    transform: scale(0.9); 
}

.cart-buttons {
    margin: 50px;
}

.btn-submit {
    border-radius: 15px;
    padding: 10px 16px;
    background-color: #d8e3e388;
    color: rgb(79, 79, 79);
    border: none;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    z-index: 1;
}
  
  
