html, body, * {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}
  
::-webkit-scrollbar {
    width: 0px;
}
  
a {
    color: inherit;
    text-decoration: none;
}
  
.header {
    text-align: center;
    margin: 40px 0;
    color: #587a7c;
    font-size: 1em;
}
  
.navbar-container {
    display: flex;
    justify-content: space-between;
    margin: 2px 18px;
}
  
.logo {
    color: #4f4c4cec;
    font-size: 18px;
}
  
.logo:hover {
    color: #1c3535;
    font-size: 20px;
}

.page-heading {
    text-align: center;
    margin: 40px 0;
    color: #324d67;
  
    h2 {
      font-size: 40px;
      font-weight: 800;
    }
  
    h3,
    h6 {
      font-size: 16px;
    }
  
    p {
      font-size: 16px;
      font-weight: 200;
    }
}

// HeroBanner.jsx
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
}
  
.hero-banner-container {
    flex: 1 1 100%;
    padding: 100px 20px;
    background-color: #446079;
    border-radius: 15px;
    position: relative;
    height: 500px;
    line-height: 0.9;
    width: 100%;
  
    &.welcome-container {
      background-color: #446079;
  
      h2 {
        font-size: 60px;
        color:#96ad83
      }
  
      p {
        font-size: 30px;
        color: #d9d9d9;
      }
  
      button {
        border-radius: 15px;
        padding: 10px 16px;
        background-color: #d8e3e388;
        color: rgb(79, 79, 79);
        border: none;
        margin-top: 40px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        z-index: 1;
      }
    }
  
    &.orwell-container {
      background-color: #37766e;
      display: flex;
      align-items: center;
  
      .orwell-content {
        text-align: center;
        color: #fff;
  
            p {
            font-size: 22px;
            margin-bottom: 5px;
            color: #d8d8d8;
            }
    
            h2 {
            font-size: 48px;
            margin-top: 0;
            margin-bottom: 10px;
            color: rgb(234, 206, 117);
            }
    
            h1 {
            font-size: 100px;
            margin-top: 0;
            margin-bottom: 20px;
            color: #bcc5ca;
            }
    
            h3 {
            font-size: 22px;
            margin-bottom: 30px;
            color: #764642;
            }
    
            button {
            border-radius: 15px;
            padding: 10px 16px;
            background-color: #9bb7b688;
            color: white;
            border: none;
            margin-top: 10px;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            z-index: 1;
            }
        }
    }
}

.eye-icon {
    color: rgb(201, 201, 201);
}

@media (min-width: 768px) {
    .grid-container {
      flex-wrap: nowrap;
      margin: 0;
    }
  
    .hero-banner-container {
      flex-basis: 50%;
      margin: 20px;
    }
}
 
.icon {
    font-size: 40px;
    color: #787373ec;
    cursor: pointer;
    position: relative;
}

// Footer.jsx
.footer-container .footer-icons {
    font-size: 25px;
    gap: 10px;
    text-align: center;
    cursor: pointer;
}
  
.search-bar {
    font-size: 25px;
    color: #4f4c4cec;
    cursor: pointer;
    text-align: center;
    transition: transform .4s ease;
    border: none;
    background-color: transparent;
}
  
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.icon-container {
    position: relative;
}
  
.cart-item-count {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fbbf24;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    margin-right: 10px;
}
  
.centered-text {
    text-align: center;
}
  
.checkout-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
  
.checkout-form .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
  

.checkout-form input {
    width: 300px;
    padding: 5px;
    margin-top: 5px;
}
  
.checkout-form button {
    margin-top: 10px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 60px;
}
  
.search-bar {
    display: flex;
    align-items: center;
}
  
.search-input {
    margin-right: 5px;
    padding: 8px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    color: #202a4b;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.phosphor-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
  
  